<form class="ui stacked segment form" action="/dashboard/addcategory" method="POST">
 <div class="one field">
  <div class="field">
    <label>Category</label>
    <input placeholder="Category" type="text" name="category" required>
  </div>
 </div>
 <button class="ui blue submit button">Add Playlist</button>
</form>
