<form class="ui stacked segment form" action="/event/{{singleEvent.categoryId}}/addevent" method="POST">
  <div class="four fields">
    <div class="field">
      <label>Event Name</label>
      <input type="text" name="name" autofocus required title = "Please include a valid Event Name"
	  placeholder="3x3">
    </div>
    <div class="field">
      <label>Cutoff</label>
      <input type="text" name="cutoff" required title = "Please include a valid Cutoff Time"
	  placeholder="10 mins"  >
    </div>
        <div class="field">
      <label>Average Type</label>
      <input type="text" name="avg_type" required title = "Please include a valid Average Type"
	  placeholder="Average of 5"  >
    </div>
        <div class="field">
      <label>World Record Video</label>
      <input type="text" name="wr_vid" required title = "Please include a valid World Record Embedded Video"
	  placeholder="https://www.youtube.com/embed/3BKV7mYhgpI?si=SDIrGtR0BKqTXFpi"  >
    </div>
  </div>
  <button class="ui blue submit button">Add Event</button>
</form>
