{{> menu}}

<link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">

<table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Event:</th>
        <th>Cutoff Time:</th>
        <th>Average Type:</th>
        <th>World Record Single:</th>
      </tr>
    </thead>
    <tbody>
      {{#each singleEvent.events}}
        <tr>
          <td><span class="{{event_icon}}"></span> {{name}} </td>
          <td>{{cutoff}}</td>
          <td>{{avg_type}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

