  {{#if events}}
    <link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">

    <table class="ui fixed striped table">
      <thead>
        <tr>
          <th>Event:</th>
          <th>Cutoff Time:</th>
          <th>Average Type:</th>
          <th>World Record Single:</th>
        </tr>
      </thead>
      <tbody>
        {{#each events}}
          {{> listOneEvent categoryId=../id}}
          {{> editEvent categoryId=../id}}  
        
        <script>
    document.querySelector("#showEdit").addEventListener ('click', () => {
        document.querySelector("#event").style.display = "none";
        document.querySelector("#edit").style.display = "table-row";
    })
    document.querySelector("#hideEdit").addEventListener ('click', () => {
        document.querySelector("#event").style.display = "table-row";
        document.querySelector("#edit").style.display = "none";
    })
</script>

        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3 class="ui message">
      Empty data!
    </h3>
  {{/if}}
