  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Event:</th>
        <th>Cutoff Time:</th>
        <th>Average Type:</th>
      </tr>
    </thead>
    <tbody>
      {{#each event.singleEvent}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{cutoff}}
          </td>
          <td>
            {{avg_type}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>


