  {{#if events}}
    <link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">
    <link rel="stylesheet" href="">

    <table class="ui fixed striped table">
      <thead>
        <tr>
          <th>Event:</th>
          <th>Cutoff Time:</th>
          <th>Average Type:</th>
          <th>World Record Single:</th>
        </tr>
      </thead>
      <tbody>
        {{#each events}}
          {{> listOneEvent categorytId=../id}}
          {{> editEvent categoryId=../id}}  
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <h3 class="ui message">
      Empty data!
    </h3>
  {{/if}}
