{{#if event.events}}

  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Cutoff Time</th>
        <th>Average Type</th>
      </tr>
    </thead>
    <tbody>
      {{#each event.events}}
        <tr>
          <td>
            {{title}}
          </td>
          <td>
            {{artist}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty category!
    </h3>

{{/if}}
