  <section id="searchResults">
    {{#if foundEvents}}
      <h2>
          {{categoryTitle}}
      </h2>
    {{/if}}

    {{#each foundEvents}}
      <section class="ui left aligned middle aligned segment">

        <h3 class="ui header">
            {{category}}
        </h3>

        <p>
          <i class="music icon"></i>
          {{#if events.length}}
            Total events: {{events.length}}
          {{else}}
            Empty playlist!
          {{/if}}
        </p>
        
      </section>
    {{/each}}

  </section>
