{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>App About Page</h2>
  
    <section class="ui left aligned middle aligned segment">
      <h3>Contact details</h3>
      <p>
        
      </p>
    </section>
</section>