{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>App About Page</h2>

    <section class="ui left aligned middle aligned segment">
      <h3>Contact details:</h3>
      <p>
        Name: {{info.creators.0.name}}
      </p>
      <p>
        Role: {{info.creators.0.role}}
      </p>
      <p>
        Email: {{info.creators.0.email}} 
      </p>
      <p>
        
      </p>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.8526962706733!2d-7.14127942287727!3d52.24605917199068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sSouth%20East%20Technological%20University%20%7C%20Waterford%20(SETU)!5e0!3m2!1sen!2sie!4v1741558497020!5m2!1sen!2sie" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
  </section>
</section>