{{> menu}}
<link rel="stylesheet" href="https://cdn.cubing.net/v0/css/@cubing/icons/css">

<section class="ui center aligned middle aligned segment">
  
  <h2>WCA Event Categories</h2>

    {{#each wcaEvents}}
    <section class="ui left aligned middle aligned segment">
      <h3 class="ui header">
        {{category}}
      </h3>
      <a href="/event/{{category_id}}"><span class="{{category_icon}}"></span></a>
    </section>
  {{/each}}
</section>