{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Test Assignment One Starter App</h2>

    {{#each wca_events}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{category}}
      </h3>
      
    </section>
      {{/each}}
</section>