{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Test Assignment One Starter App</h2>

    {{#each wca_events}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{#each category}}{{category}}{{/each}}
      </h3>
      <p>
        
      </p>
    </section>
      {{/each}}
</section>