{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{title}}
  </h2>
  {{> singleEvents.listevents}}
  
  <section class="ui center aligned middle aligned segment">
    {{> addEvent}}
  </section>
</section>