{{> menu}}
{{#with singleEvent}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{uppercase name}}
  </h2>
  {{> listevents events=events categoryId=category_Id }}
  </section>

  <section class="ui center aligned middle aligned segment">
    {{> addevent}}
  </section>

{{/with}}
