{{> menu}}
{{#with singleEvent}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{title}}
  </h2>
  {{> listevents}}
  
  <section class="ui center aligned middle aligned segment">
    {{> addevent}}
  </section>
</section>

{{/with}}
