{{> menu}}

<section class="ui center aligned middle aligned segment">

  <h2>Web App Development 1 - Assignment 2</h2>

  <p>
    Welcome to my Rubik's Cube App. It is designed to allow you to explore all of the events held at WCA (World Cube
    Association) competitions, and watch the world record singles for each. Click dashboard or about to explore
    different views.
  </p>

  <img class="ui centered image"
    src="https://cdn.glitch.global/90472888-ac71-474c-b5b3-a72fb3267e17/qgbf6a.jpg?v=1741535007435">

</section>