html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

.vid {
  width: 100%;
  max-width: 560px; 
  max-height: 315px;
  height: auto;
  display: block;
  margin: 0 auto;
}
