@font-face {
  font-family: EightBitDragon;
  src: url("https://cdn.glitch.global/90472888-ac71-474c-b5b3-a72fb3267e17/eight-bit-dragon.otf?v=1742168709571");
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.global/90472888-ac71-474c-b5b3-a72fb3267e17/cube%20gif.gif?v=1742167399132");
}

 .ui.segment{
   background-color: rgba(255, 255, 255, 0.9);
}

.vid {
  width: 100%;
  max-width: 560px; 
  max-height: 315px;
  height: auto;
}

.map {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
 font-family: EightBitDragon;
}

#logo {
 font-family: EightBitDragon;  
}
